<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhatNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7AF201951EA0A0FC0081FA20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AF201AE1EA0A0FD0081FA20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AF201B91EA0A0FD0081FA20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
